div {
  font-family: Roboto;
}

header {
  padding-top: 6em;
}

h1 {
  font-size: 3em;
}

h4 {
  font-size: 2em;
  padding-bottom: 40px;
}

.header-info a {
  font-size: 1.5em;
  padding-left: 10px;
}

.header-info img {
  font-size: 1.5em;
  padding-bottom: 4px;
}

.waitlist {
  color: #ffffff;
  text-decoration: none;
  background-color: #21ce99;
  padding-top: 10%;
  padding-bottom: 10%;
}

.waitlist img {
  padding-left: 30px;
}

.logo-img {
  padding-top: 1.8em;
  padding-bottom: 1.5em;
}

.navbar-nav {
  padding: 1.5em;
  padding-bottom: 1.5em;
}

.navbar-default .navbar-nav li {
  color: #21ce99;
  font-size: 1.5em;
  padding-left: 1.8em;
  text-transform: uppercase;
}

.navbar-default .navbar-nav li a {
  color: #21ce99;
}
