.site-footer {
	position: relative;
	background: get-color(light, 1);
	text-align: center;
	height: 50px;

	a {
		color: get-color(dark, 2);
		text-decoration: underline;
		font-size: 15px;
		vertical-align: top;
	}

	svg {
		margin-top: 2px;
		width: 24px;
		height: 24px;
	}
}

.footer-container {
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 15%;
	-ms-transform: translate(-50%);
	transform: translate(-50%);
}

.footer-top {
	display: inline-block;
	width: 80px;
}

.footer-bottom {
	display: inline-block;
	width: 330px;
}

.footer-list {
	display: flex;
	justify-content: space-evenly;
}

@media screen and (max-width:819px) {
	.footer-nav-list {
		display: list-item;
	}

	.site-footer {
		height: 170px;
	}

	.footer-top {
		height: 30px;
	}
}