.site-footer {
	position: relative;
	background: get-color(light, 1);
	text-align: center;
	height: 200px;

	a {
		color: get-color(dark, 2);
		text-decoration: underline;
		font-size: 13px;
	}

	svg {
		width: 25px;
		height: 25px;
	}
}

.footer-container {
	display: inline-block;
	position: absolute;
	left: 50%;
	bottom: 10%;
	-ms-transform: translate(-50%);
	transform: translate(-50%);
}

.footer-top {
	display: inline-block;
	width: 120px;
}

.footer-bottom {
	display: inline-block;
	width: 430px;
}

.footer-list {
	display: flex;
	justify-content: space-evenly;
}

@media screen and (max-width:450px) {
	.footer-nav-list {
		display: list-item;
	}

	.site-footer {
		height: 250px;
	}
}