.container,
.container-sm,
.container-xs,
.container-hero,
.container-feed {
	width: 100%;
	margin: 0 auto;
	padding-left: $container--padding__mobile;
	padding-right: $container--padding__mobile;

	@include media( '>small' ) {
		padding-left: $container--padding__desktop;
		padding-right: $container--padding__desktop;
	}
}

.container {
	max-width: $container--width + ( $container--padding__desktop * 2 );
}

.container-sm {
	max-width: $container--width-sm + ( $container--padding__desktop * 2 );
}

.container-xs {
	max-width: $container--width-xs + ( $container--padding__desktop * 2 );
}

.container-hero {
	max-width: $container--width + ( $container--padding__mobile * 2 );
	padding-left: ($container--padding__mobile - $container--width) / 2;

	h1 {
		font-size: 40px;
		line-height: 45px;
	}

	p {
		margin-bottom: 5px;
	}

	// Settings for desktop
	@include media( '>medium' ) {
		padding-left: $container--padding__desktop;
		padding-right: $container--padding__desktop;
		padding-top: 50px;
		h1 {
			font-size: 75px;
			line-height: 75px;
		}
	}

	@include media( '>large' ) {
		padding-top: 80px;
	}
}

.container-feed {
	margin-top: 130px;
	padding-left: ($container--padding__desktop - $container--width) / 2;
}

[class*=container] {

	[class*=container] {
		padding-left: 0;
		padding-right: 0;
	}

    .container-sm {
		max-width: $container--width-sm;
    }

	.container-xs {
		max-width: $container--width-xs;
	}
}
