.container,
.container-sm,
.container-lg,
.container-xs,
.container-hero,
.container-app {
	width: 100%;
	margin: 0 auto;
	padding-left: $container--padding__mobile;
	padding-right: $container--padding__mobile;

	@include media( '>small' ) {
		padding-left: $container--padding__desktop;
		padding-right: $container--padding__desktop;
	}
}

.container {
	max-width: $container--width + ( $container--padding__desktop * 2 );
}

.container-lg {
	max-width: $container--width-lg + ( $container--padding__desktop * 2 );
}

.container-sm {
	max-width: $container--width-sm + ( $container--padding__desktop * 2 );
}

.container-xs {
	max-width: $container--width-xs + ( $container--padding__desktop * 2 );
}

.container-hero {
	max-width: $container--width + ( $container--padding__mobile * 2 );
	padding-left: ($container--padding__mobile - $container--width) / 2;

	h1 {
		font-size: 40px;
		line-height: 45px;
	}

	p {
		margin-bottom: 5px;
	}

	// If screen can fit a 768x768 square, then adjust padding and font size
	@media only screen and (min-width: 768px) and (min-height: 768px) {
		padding-left: $container--padding__desktop;
		padding-right: $container--padding__desktop;
		padding-top: 50px;
		h1 {
			font-size: 70px;
			line-height: 70px;
		}
	}
}

.container-app {
	padding-left: ($container--padding__desktop - $container--width) / 2;
	margin-left: $side-bar--width;
	margin-right: $side-bar--width;
}

[class*=container] {

	[class*=container] {
		padding-left: 0;
		padding-right: 0;
	}

    .container-sm {
		max-width: $container--width-sm;
    }

	.container-lg {
		max-width: $container--width-lg;
	}

	.container-xs {
		max-width: $container--width-xs;
	}
}
