.profile-preview {
	padding: 0px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 15px;
	height: 260px;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
	position: relative;
}

.profile-preview:hover {
	cursor:pointer;
	box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 10px;
}

.image-preview {
	padding: 0px;
	border-radius: 5px;
	display: table-cell;
}

.profile-preview p {
	font-size: 18px;
	text-align: left;
	padding-left: 15px;
	color: #777;
}

.profile-preview-header {
	height: 80px;
	display: table;
	padding: 15px;
}

.profile-interested {
	display: table-cell;
	float: right;
	position: absolute;
	right: 10px;
	text-align: center;
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.profile-name {
	text-align: left;
	vertical-align: middle;
	display: table-cell;
	padding-left: 30px;
	font-size: 30px;
	color: get-color(dark, 3);
}

.fun-facts-container {
	display: table;
	width: 95%;
}

.facts-header {
	/*text-align: left;*/
	padding-left: 15px;
	margin: 0px;
	color: #222;
}

.facts-content {
	font-size: 14px !important;
}

.column {
	float: left;
	width: 33%;
	border-right: 1px solid #999;
	text-align: left;
}

.column-last {
	border-right: 0px solid #999;
}

.action-image {
    width: 40px;
    height: 40px;
}

.action-buttons {
	position: absolute; 
	bottom: 0;
	right:0; 
}

.action-button {
    width: 45px;
    height: 45px;
    padding: 3px;
    margin: 3px;
    border: 0;
    background-color: #fff;
}

