.settings {
	background-color: white;
	position: relative;
	margin-top: 30px;
	padding: 5px;
	margin-left: 10%;
	width: 80%;
	margin-top: 110px;
	border-radius: 10px;
	box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
	padding: 20px;

	.button {
		background-color: white;
		width: 32%;
		margin-right: 2%;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
		height: 50px;
		border-radius: 5px;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
			"Droid Sans", "Helvetica Neue", sans-serif;
	}

	h3,
	p {
		color: #222;
	}

	.button-last {
		background-color: white;
		width: 32%;
		margin-right: 0 !important;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
		height: 50px;
		border-radius: 5px;
	}

	#name {
		position: absolute;
	}

	#three-dots {
		position: absolute;
		right: 35px;
		font-size: 50px;
		line-height: 20px;
	}

	.settings-input {
		border: none;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
			"Droid Sans", "Helvetica Neue", sans-serif;
	}

	#routeToSignIn {
		visibility: hidden;
	}

	// Form CSS
	.form-group {
		margin-bottom: 0.4rem;
		position: relative;
	}

	.register-form {
		height: auto;
		max-width: 100%;
		overflow-y: auto;
		overflow-x: hidden;
	}

	input,
	select {
		display: block;
		width: 100%;
		padding: 11px 20px;
		box-sizing: border-box;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
			"Droid Sans", "Helvetica Neue", sans-serif;
		font-size: 13px;
		font-weight: 500;
		&:focus {
			border: 1px solid #0b426c;
		}
	}

	label {
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
			"Droid Sans", "Helvetica Neue", sans-serif;
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 2px;
		display: block;
	}

	.signup-form-radio {
		margin-bottom: 18px;
		input {
			width: auto;
			display: inline-block;
		}
	}

	.form-select {
		position: relative;
	}

	select {
		appearance: none;
		position: relative;
		background: 0 0;
		z-index: 10;
		cursor: pointer;
	}

	.z-index-5 {
		position: relative;
		z-index: 5;
	}

	.z-index-4 {
		position: relative;
		z-index: 4;
	}

	.z-index-3 {
		position: relative;
		z-index: 3;
	}

	.z-index-2 {
		position: relative;
		z-index: 2;
	}

	.z-index-1 {
		position: relative;
		z-index: 1;
	}

	option {
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
			"Droid Sans", "Helvetica Neue", sans-serif;
		font-size: 13px;
		font-weight: 500;
		border: 1px solid #ced4da;
	}

	.form-submit {
		text-align: right;
		padding-top: 27px;
	}

	.submit {
		width: 140px;
		height: 40px;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
			"Droid Sans", "Helvetica Neue", sans-serif;
		font-size: 13px;
		font-weight: 500;
		padding: 10px;
		border: none;
		cursor: pointer;
	}

	#submit {
		background: #0b426c;
		color: #fff;
		&:hover {
			background-color: darken(#0b426c, 10%);
		}
	}
}

.centered-header {
	text-align: center;
}

/* VARS */
$open-sans: "Open Sans", "Helvetica", sans-serif;

$darkNavy: #213140;
$teal1: #66b3fb;
$teal2: #4b9dea;
$charcoal: #555555;
$gold: #b6985a;

$activeShadow: 0 0 10px rgba($teal1, 0.5);

/* MIXINS */
@mixin focusOutline {
	outline: dotted 1px #ccc;
	outline-offset: 0.45rem;
}
@mixin hideInput {
	width: 0;
	height: 0;
	position: absolute;
	left: -9999px;
}
@mixin breakpoint($point) {
	@if $point == 1100 {
		@media (max-width: 1100px) {
			@content;
		}
	} @else if $point == 800 {
		@media (max-width: 800px) {
			@content;
		}
	}
}

fieldset {
	margin: 0;
	padding: 2rem;
	box-sizing: border-box;
	display: block;
	border: none;
	border: solid 1px #ccc;
	min-width: 0;
	background-color: #fff;
}
body:not(:-moz-handler-blocked) fieldset {
	display: table-cell;
}

/* TOGGLE STYLING */
.toggle {
	margin: 0;
	box-sizing: border-box;
	font-size: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: stretch;
	input {
		@include hideInput;
	}
	input + label {
		margin: 0;
		padding: 0.75rem 0.01rem;
		box-sizing: border-box;
		position: relative;
		display: inline-block;
		border: solid 1px #ddd;
		background-color: #fff;
		font-size: 0.6rem;
		line-height: 30%;
		font-weight: 600;
		text-align: center;
		box-shadow: 0 0 0 rgba(255, 255, 255, 0);
		transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out,
			box-shadow 0.15s ease-out;

		/* ADD THESE PROPERTIES TO SWITCH FROM AUTO WIDTH TO FULL WIDTH */
		flex: 0 0 30%;
		display: flex;
		justify-content: center;
		align-items: center;
		/* ----- */

		&:first-of-type {
			border-radius: 6px 0 0 6px;
			border-right: none;
		}
		&:last-of-type {
			border-radius: 0 6px 6px 0;
			border-left: none;
		}
	}
	input:hover + label {
		border-color: $darkNavy;
		cursor: pointer;
	}
	input:checked + label {
		background-color: $teal2;
		color: #fff;
		box-shadow: $activeShadow;
		border-color: $teal2;
		z-index: 1;
	}
	input:focus + label {
		@include focusOutline;
	}

	@include breakpoint(800) {
		input + label {
			padding: 0.75rem 0.25rem;
			flex: 0 0 50%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

.priority-radio {
	flex: 2;
	margin-top: auto;
	margin-bottom: 0.4rem;
}

.priority-group {
	display: flex;
	align-items: center;
	justify-content: center;
}

.priority-choice {
	flex: 10;
}
