.profile-card {
	border-radius: 10px;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	padding: 10px;
	margin-bottom: 20px;
	min-height: 300px;
}

.small-card {
	width: 32%;
	margin-right: 2%;
}

.medium-card {
	width: 66%;
	margin-right: 2%;
}

.large-card {
	width: 100%;
}

.card-last {
	margin-right: 0px !important;
}

.card-row {
	display: flex;
	height: 300px;
	margin-bottom: 20px;
}

.card-header {
	font-size: 28px;
	padding-left: 10px;
	text-align: left;
	font-weight: bold;
	color: #222;
}

.center-text {
	text-align: center !important;
}

.revenue-info {
	padding-top: 60px;
	text-align: center;
	font-size: 100px;
	font-weight: bold;
	color: rgb(20, 167, 69);
}

.team-size-info {
	padding-top: 60px;
	text-align: center;
	font-size: 100px;
	font-weight: bold;
	color: rgb(21, 10, 163);
}

.secondary-card-info {
	font-size: 28px;
	text-align: center;
	color: #999;
}

.card-image {
	margin: auto;
}

.fun-facts-container {
	display: table;
	width: 95%;
	position: relative;
}

.facts-header {
	padding-left: 10px;
	margin: 0px;
	color: #222;
	font-style: italic;
}

.column {
	float: left;
	width: 33%;
	border-right: 1px solid #999;
	text-align: left;
}

.column-last {
	border-right: 0px solid #999;
}

.team-members-container {
	display: table;
	margin-top: 20px;
}

.team-column {
	float: left;
	width: 33%;
	text-align: center;
}

.team-image {
	width: 30%;
	height: 30%;
	border-radius: 5%;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	margin-left: auto;
	margin-right: auto;
}

.member-info {
	text-align: center !important;
	margin: 5px;
}