.user-profile {
	margin-top: 30px;
	padding: 5px;
	width: 100%;
    position: relative;

    p, h1, h2, h3, h4, h5 {
		margin: 0px;
        color: #222;
	}

    p {
        font-size: 18px;
        text-align: left;
        color: #777;
    }

    .user-profile-header {
        width: 100%;
        padding: 20px;
        display: flex;
    }

    .user-profile-image {
        width: 250px;
        height: 250px;
        border-radius: 10px;
        margin-right: 20px;
    }

    .name-edit {
        display: flex;
        align-items: flex-end;
    }

    .edit-container {
        display: flex;
        visibility: hidden;
    }

    .edit-container:hover {
        #edit-static {
            display: none;
        }

        #edit-hover {
            visibility: visible;
        }
    }

    .edit {
        width: 30px;
        height: 30px;
        margin: 10px;

    }

    #edit-hover {
        visibility: hidden;
    }
    
    .user-profile-header:hover {
        .edit-container {
            visibility: visible;
        }
    }

    .user-profile-info {
        width: 100%;
    }

    .summary {
        margin-top: 5px;
        color: #222;
        font-style: italic;
    }

    .company-profile-image {
        width: 90px;
        height: 90px;
        border-radius: 10px;
    }

    .company-profile-link {
        min-width: 90px;
        height: 90px;
        cursor: pointer;
        position: absolute;
        right: 30px;
    }

    .edit-profile {
        width: 400px;
        min-height: 600px;
        background-color: #fff;
        position: absolute;
        left: 0px;
        top: 0px;
    }

}
