.cta {
	#journey {
		background-color: get-color(primary, 3);
	}
	.section-inner {
		padding-top: $cta--padding-t__mobile;
		padding-bottom: $cta--padding-b__mobile;
	}

	#waitlist-info {
		margin-top: 15px;
		font-size: 18px;
		line-height: 21px;
		text-align: left;
	}
}

.cta-slogan {
	margin-bottom: $cta-slogan--padding-v__mobile;
}

.cta-action {
	padding: 20px;
	background-color: get-color(light, 2);
	border-radius: 10px;
	position: relative;
	width: 100%;
	h2 {
		color: get-color(dark, 1);
		text-align: center;
		visibility: hidden;
		position: absolute;
		width: 100%;
		top: 40%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}

@media screen and (min-width:768px) {

	.cta {

		.section-inner {
			padding-top: $cta--padding-t__desktop;
			padding-bottom: $cta--padding-b__desktop;
		}
	}

	.cta-action {
		width: 450px;
		min-width: 450px;
	}

	.cta-split {
		display: flex;
		justify-content: space-evenly;
	}

	.cta-slogan {
		margin-bottom: $cta-slogan--padding-v__desktop;

		.cta-split & {
			margin-bottom: 0;
			margin-right: $cta-slogan--padding-h__desktop;
		}
	}
}
