.features-split {
	.section-inner {
		padding-top: $features-split--padding-t__mobile;
		padding-bottom: $features-split--padding-b__mobile;
	}

	.section-header {
		padding-bottom: $features-split-header--padding__mobile;
	}

	a {
		color: get-color(dark, 3);
		font-size: small;
	}
}

@include media( '>medium' ) {
	.features-split {
		.section-inner {
			padding: 50px;
			background-color: get-color(light, 2);
		}

		.section-header {
			padding-bottom: $features-split-header--padding__desktop;
		}
	}
}
