.hero {
	position: relative;
	height: 100vh;
	.button {
		// background-color: get-color(light, 1);
		color: get-color(light, 1);
	}
	h1 {
		font-size: 30px;
		line-height: 33px;
		color: get-color(light, 1);
	}
	@media only screen and (min-width: 1024px){
		h1 {
			font-size: 55px;
			line-height: 55px;
		}
	}
	img {
		position: absolute;
		bottom: 5px;
		left: 50%;
		-ms-transform: translate(-50%, 0%);
		transform: translate(-50%, 0%);
		width: 30px;
		height: 30px;
	}
}

.hero-content {
	text-align: center;
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
