.hero {
	text-align: left;
	background-color: white;
	p {
		margin-top: 150px;
		padding-bottom: 5%;
		font-size: 30px;
		line-height: 35px;
		color: #fefefe;
		text-align: center;
		text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
	}
	h1 {
		font-size: 50px;
		line-height: 53px;
	}
	// If screen can fit a 768x768 square, then adjust padding and font size
	@media only screen and (min-width: 1024px) and (min-height: 1024px) {
		h1 {
			font-size: 70px;
			line-height: 70px;
		}
		p {
			font-size: 50px;
			line-height: 55px;
		}
	}

	// If screen can fit a 560x560 square, then make height based on full screen
	@media only screen and (min-width: 1024px) and (min-height: 768px) {
		height: 100vh;
	}
}

.hero-content {
	height: 60%;
}

@media only screen and (min-width: 1024px) and (min-height: 560px) {
	.hero-content {
    	display:flex;
	}
}

@media only screen and (min-width: 1024px) and (min-height: 768px) {
	.left {
		display:flex;
		width: 45%;
		margin-right: 5%;
		margin: auto;
	}
	.right {
		margin: auto;
		max-width: 53%;
	}
}

.hero-background-image {
	background-image: url("../../../../assets/images/wave-background.svg");
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
}